<ion-view title="{{beer.basics.name}}">
    <ion-nav-buttons side="left">
        <!--The menu button-->
        <button menu-toggle="left" class="button button-icon icon ion-navicon menu-button"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <h1 class="content-pad">Beer Info</h1>
        <div class="list">
            <group label="Basic Info">
                <text-field label="Brewery" ng-model="beer.brewery"></text-field>
                <text-field label="Name" ng-model="beer.name"></text-field>
                <number-field label="Purchased Price" ng-model="beer.purchasePrice" prefix="$"></number-field>
                <label class="item item-input item-select">
                    <div class="input-label">Volume</div>
                    <select ng-model="beer.volume">
                        <option ng-repeat="v in volumes">
                            {{v}}
                        </option>
                    </select>
                </label>
                <number-field label="Quantity" ng-model="beer.quantity"></number-field>
                <month-field label="Purchase Date" ng-model="beer.purchaseDate"></month-field>
                <month-field label="Drink After" ng-model="beer.drinkAfterDate"></month-field>
                <month-field label="Drink Before" ng-model="beer.drinkBeforeDate"></month-field>
            </group>

            <div class="item spacer invisible">
            </div>

            <button class="item button button-full button-assertive dangerous" ng-click="delete(beer)">
                Delete this beer
            </button>
        </div>
    </ion-content>
</ion-view>
