<ion-view title="Edit Beer">
    <ion-nav-buttons side="left">
        <!--The menu button-->
        <button menu-toggle="left" class="button button-icon icon ion-navicon menu-button"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <h1 class="content-pad">Beer Info</h1>
        <div class="list">
            <group label="Basic Info">
                <!-- Brewery input (with autocompletion) -->
                <label class="input-text item">
                    Brewery
                    <input type="text" ng-model="beer.brewery" class="item-field" autocapitalize="words" ng-focus="suggestBreweries = true;" ng-blur="suggestBreweries = false;">
                </label>
                <ul class="autocomplete" ng-show="suggestBreweries && knownBreweries.indexOf(beer.brewery) === -1">
                    <li class="item" ng-repeat="brewery in knownBreweries | filter:beer.brewery" ng-click="beer.brewery = brewery">{{brewery}}</li>
                </ul>

                <!-- Beer name input (with autocompletion) -->
                <label class="input-text item">
                    Name
                    <input type="text" ng-model="beer.name" class="item-field" autocapitalize="words" ng-focus="suggestBeerNames = true;" ng-blur="suggestBeerNames = false;">
                </label>
                <ul class="autocomplete" ng-show="suggestBeerNames && knownBeerNames.indexOf(beer.name) === -1">
                    <li class="item" ng-repeat="beerName in knownBeerNames | filter:beer.name" ng-click="beer.name = beerName">{{beerName}}</li>
                </ul>

                <number-field label="Purchased Price" ng-model="beer.purchasePrice" prefix="$"></number-field>
                <label class="item item-input item-select">
                    <div class="input-label">Style</div>
                    <select ng-model="beer.style">
                        <option ng-repeat="s in styles">
                            {{s}}
                        </option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">Volume</div>
                    <select ng-model="beer.volume">
                        <option ng-repeat="v in volumes">
                            {{v}}
                        </option>
                    </select>
                </label>
                <number-field label="Quantity" ng-model="beer.quantity"></number-field>
                <month-field label="Purchase Date" ng-model="beer.purchaseDate"></month-field>
                <number-field label="Drink After" ng-model="beer.drinkAfterYears" suffix="years"></number-field>
                <number-field label="Drink Before" ng-model="beer.drinkBeforeYears" suffix="years"></number-field>
                <label class="item item-input">
                    <div class="input-label">Calculated Drink Date</div>
                    <span class="simulate-input item-field" ng-if="beer.drinkAfterYears">{{beer | drinkDate}}</span>
                </label>

            </group>

            <p class="content-pad positive">When you&rsquo;re finished, just tap the Back button&mdash;your changes will be saved automatically.</p>

            <div class="item spacer invisible">
            </div>


            <button class="item button button-full button-positive" ng-click="addBeer(beer)">
                <i class="icon ion-ios7-plus mr10"></i>
                Cellar another of this beer
            </button>
            <button class="item button button-full button-positive" ng-click="navigateToBeerType(beer.name)">
                All bottles of {{ beer.name }} in the cellar
            </button>
            <button class="item button button-full button-positive" ng-click="navigateToBrewery(beer.brewery)">
                More beers from {{ beer.brewery }}
            </button>

            <div class="item spacer invisible">
            </div>

            <button class="item button button-full button-assertive dangerous" ng-click="delete(beer)">
                Delete this beer
            </button>
        </div>
    </ion-content>
</ion-view>
