<ion-view title="Beers by Brewery" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon menu-button"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon positive" ng-click="addBeer()">
            <i class="icon ion-ios7-plus-empty positive"></i>
            Add Beer
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <ion-item ng-repeat="(brewery, beers) in beersChunkedByBrewery" href="#/app/breweries/{{brewery | escape}}">
                <h2>{{brewery}}</h2>
                <div class="badge badge-positive">{{beers.length}}</div>
            </ion-item>
        </ion-list>

        <div class="content-pad text-center mt20" ng-if="beersChunkedByDate.length === 0">
            <h1>No beers found!</h1>
            <p>To add one, click <strong class="positive"><i class="icon ion-ios7-plus-empty positive"></i> Add Beer</strong> in the top right</p>
        </div>
    </ion-content>
</ion-view>
