<ion-view title="Welcome to the Cellar">
    <div class="bar bar-header bar-stable">
        <h1 class="title">Welcome to the Cellar</h1>
    </div>
    <ion-content class="has-header">
        <div class="content-pad">
            <h1>Your beer cellar awaits&hellip;</h1>
            <p>The free version of Beer Cellar stores your beer data on this device only.</p>
            <p>Or, you can upgrade to a paid Aficionado account to sync your data to <em>all</em> your devices&hellip; plus get Aficionado-only features.</p>
        </div>

        <button class="item button button-full button-positive" ng-click="wantsLocalOnly()">
            Use the free version
        </button>

        <button class="item button button-full button-positive" ng-click="wantsPurchase()">
            I have an Aficionado subscription
        </button>
    </ion-content>
</ion-view>
