<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-stable">
            <h1 class="title">Menu</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/beers" class="item-icon-left">
                    <i class="icon ion-ios7-home"></i>
                    Beers
                </ion-item>

                <!-- Most recent beer stuff (only shows if the user has ever looked at a beer) -->
                <div class="item spacer" ng-show="beerService.getLastActiveIndex() != -1">
                </div>
                <group label="Most Recent Beer" id="menu-most-recent-beer" ng-show="beerService.getLastActiveIndex() != -1">
                    <ion-item nav-clear menu-close href="#/app/properties/{{beerService.getLastActiveIndex() + 1}}" class="item-icon-left">
                        <i class="icon ion-edit"></i>
                        {{beer.name}}
                    </ion-item>
                    <ion-item nav-clear menu-close href="#/app/properties/{{beerService.getLastActiveIndex() + 1}}/analysis" class="item-icon-left">
                        <i class="icon" ng-class="{'ion-thumbsdown': !greenLight(), 'ion-thumbsup': greenLight()}"></i>
                        Analysis
                    </ion-item>
                </group>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
