<ion-side-menus>
    <ion-pane ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> Back</ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
    </ion-pane>

    <ion-side-menu side="left">
        <header class="bar bar-header bar-stable">
            <h1 class="title">Menu</h1>
        </header>
        <ion-content class="has-header">
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/dates" class="item-icon-left">
                    <i class="icon ion-ios7-calendar-outline"></i>
                    Beers by Date
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/styles" class="item-icon-left">
                    <i class="icon ion-beer"></i>
                    Beers by Style
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/types" class="item-icon-left">
                    <i class="icon ion-pricetag"></i>
                    Beers by Name
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/breweries" class="item-icon-left">
                    <i class="icon ion-location"></i>
                    Beers by Brewery
                </ion-item>


                <!-- Most recent beer stuff (only shows if the user has ever looked at a beer) -->
                <div class="item spacer" ng-show="beer.name">
                </div>
                <group label="Most Recent Beer" id="menu-most-recent-beer" ng-show="beer.name">
                    <ion-item nav-clear menu-close href="#/app/beers/{{BeerService.getLastActiveIndex() + 1}}" class="item-icon-left">
                        <i class="icon ion-edit"></i>
                        {{beer.name}}
                    </ion-item>
                    <!--
                    <ion-item nav-clear menu-close class="item-icon-left" ng-show="greenLight()">
                        <i class="icon ion-thumbsup"></i>
                        Ready to drink!
                    </ion-item>
                    <ion-item nav-clear menu-close class="item-icon-left" ng-show="!greenLight()">
                        <i class="icon ion-ios7-timer-outline"></i>
                        Not ready to drink
                    </ion-item>
                    -->
                </group>

                <p ng-show="beers.length > 0" class="content-pad">Beers in the cellar: <strong>{{beers.length}}</strong></p>
            </ion-list>
        </ion-content>
        <ion-footer-bar align-title="left">
            <ion-list>
                <ion-item nav-clear menu-close href="#/app/settings" class="item-icon-left">
                    <i class="icon ion-ios7-gear"></i>
                    Settings & Tools
                </ion-item>
            </ion-list>
        </ion-footer-bar>
    </ion-side-menu>
</ion-side-menus>
