<ion-view view-title="Beers by Name" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon menu-button"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon positive" ng-click="addBeer()">
            <i class="icon ion-ios-plus-empty positive"></i>
            Add Beer
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <ion-item ng-repeat="(name, beers) in beersChunkedByName" href="#/app/types/{{ name | escape }}">
                <group label="{{ name }} &mdash; {{ beers[0].brewery }}">
                    <ion-item ng-repeat="b in beers" href="#/app/beers/{{b._id}}">
                        <div class="card-right" ng-if="b.purchaseDate && b.drinkAfterYears">
                            <p><span class="badge badge-positive" ng-show="b.quantity > 1">{{b.quantity}}</span> {{b.volume}}</p>
                        </div>
                        <h2>{{b | drinkDate}}</h2>
                    </ion-item>
                </group>
            </ion-item>
        </ion-list>

        <div class="content-pad text-center mt20" ng-if="beersChunkedByDate.length === 0">
            <h1>No beers found!</h1>
            <p>To add one, click <strong class="positive"><i class="icon ion-ios-plus-empty positive"></i> Add Beer</strong> in the top right</p>
        </div>
    </ion-content>
</ion-view>
