<ion-view title="Bottles of {{beerType}} in the Cellar" hide-nav-bar="false">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon menu-button"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon positive" ng-click="addBeer()">
            <i class="icon ion-ios7-plus-empty positive"></i>
            Add Beer
        </button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list can-swipe="true">
            <ion-item ng-repeat="b in typesBeers" href="#/app/beers/{{b._id}}">
                <ion-option-button class="button-assertive" ng-click="seriouslyDelete(b)">Delete</ion-option-button>
                <div class="card-right" ng-if="b.purchaseDate && b.drinkAfterYears">
                    <p>{{DateMath.addYears(b.purchaseDate, b.drinkAfterYears) | dateString}}</p>
                    <p><span class="badge badge-positive" ng-show="b.quantity > 1">{{b.quantity}}</span> {{b.volume}}</p>
                </div>
                <p>{{b.brewery}}</p>
                <h2>{{b.name}}</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
