<ion-view title="Sign In">
    <div class="bar bar-header bar-stable">
        <h1 class="title">Sign In</h1>
    </div>
    <ion-content class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Username</span>
                <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password">
            </label>
            <input type="submit" class="button button-block button-positive" ng-click="signIn(user)" value="Sign In">
            <span class="error" ng-show="submittedError">{{errorDescription}}</span>
        </form>
        <p class="text-center" style="padding-top:40px;">
            <a href="#/sign-up">Create account</a>
        </p>
    </ion-content>
</ion-view>
