<ion-view title="Create Account">
    <div class="bar bar-header bar-stable">
        <h1 class="title">Create Account</h1>
    </div>
    <ion-content class="has-header">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="createUser(user)">
                Create Account
            </button>
            <span class="error" ng-show="submittedError">{{errorDescription}}</span>
        </div>
    </ion-content>
</ion-view>