<ion-view title="Sign In to Your Beer Cellar" hide-nav-bar="false">
    <div class="bar bar-header bar-stable">
        <h1 class="title">Sign In to Your Beer Cellar</h1>
    </div>
    <ion-content class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="email" ng-model="user.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password">
            </label>
            <input type="submit" class="button button-block button-positive" ng-click="signIn(user)" value="Sign In">
            <p class="alert-warning content-pad" ng-show="submittedError">{{errorDescription}}</p>

            <div class="item spacer invisible">
            </div>

            <a class="item button button-full" href="#/sign-up">
                Create an account instead
            </a>
        </form>
    </ion-content>
</ion-view>
