<ion-view title="Create Account">
    <ion-content>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password">
            </label>
        </div>
        <div class="padding">
            <button class="button button-block button-positive" ng-click="createUser(user)">
                Create Account
            </button>
            <span class="error" ng-show="submittedError">{{errorDescription}}</span>
            <p class="text-center">
                <a href="#/forgot-password">Forgot password</a>
            </p>
        </div>
    </ion-content>
</ion-view>