<ion-view title="Create Account">
    <div class="bar bar-header bar-stable">
        <h1 class="title">Create Account</h1>
    </div>
    <ion-content class="has-header">
        <form class="list">
            <label class="item item-input">
                <span class="input-label">Email</span>
                <input type="text" ng-model="user.username">
            </label>
            <label class="item item-input">
                <span class="input-label">Password</span>
                <input type="password" ng-model="user.password">
            </label>
            <input value="Create Account" type="submit" class="button button-block button-positive" ng-click="createUser(user)">
            <span class="error" ng-show="submittedError">{{errorDescription}}</span>

            <div class="item spacer invisible">
            </div>

            <a class="item button button-full" href="#/sign-in">
                Sign in instead
            </a>
        </form>
    </ion-content>
</ion-view>