**/node_modules/
**/node_modules/*

.tmp
.sass-cache/
.sass-cache/*
platforms/



hooks/after_platform_add/010_install_plugins.js
hooks/after_plugin_add/010_register_plugin.js
hooks/after_plugin_rm/010_deregister_plugin.js
hooks/after_prepare/020_remove_sass_from_platforms.js
hooks/before_platform_add/init_directories.js
BeerCellar.apk
