<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Beer Cellar</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <link rel="stylesheet" href="lib/ionic/css/ionic.min.css">

    <!-- build:css css/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) css/main.css -->
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css">
    <!-- endbuild -->

    <!-- <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/lodash/dist/lodash.compat.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="lib/lodash.min.js"></script>
    <script src="lib/jquery.min.js"></script>
    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- Cordova must be loaded after Ionic (since ngCordova depends on AngularJS) -->
    <script src="bower_components/ngCordova/dist/ng-cordova.js"></script>

    <script src="lib/kinvey-angular-1.1.9.js"></script>
    <script src="lib/ng-flow-standalone.js"></script>
    <script src="lib/enums/enums.js"></script>
    <script src="js/enums.js"></script>
    <script src="js/globals.js"></script>
    <script src="js/DateMath.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <!-- endbuild -->
</head>

<body ng-app="BeerCellarApp" ng-controller="AppCtrl">
<ion-nav-view class="slide-left-right-ios7"></ion-nav-view>

<script id="delete.html" type="text/ng-template">
    <div class="modal">
        <!-- Modal header bar -->
        <ion-header-bar class="bar-secondary">
            <h1 class="title">Delete Beer</h1>
            <button class="button button-clear button-positive" ng-click="closeDelete()">Cancel</button>
        </ion-header-bar>

        <!-- Modal content area -->
        <ion-content class="content-pad">
            <p>Are you <strong>sure</strong> you want to delete the beer &ldquo;{{beer.name}}&rdquo;?</p>
            <p>This can't be undone.</p>
            <button class="button button-positive button-large mt20 mr10" ng-click="closeDelete()">
                Cancel
            </button>
            <button class="button button-assertive button-large mt20" ng-click="_delete()">
                Delete this beer forever
            </button>
        </ion-content>
    </div>
</script>

<script id="sign-in.html" type="text/ng-template">
    <div class="modal" ng-ctrl="SignInCtrl">
        <ion-header-bar class="bar-header bar-stable">
            <h1 class="title">Sign In</h1>
        </ion-header-bar>
        <ion-content class="has-header">
            <form class="list">
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" ng-model="user.username">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="user.password">
                </label>
                <input type="submit" class="button button-block button-positive" ng-click="signIn(user)" value="Sign In">
                <span class="error" ng-show="submittedError">{{errorDescription}}</span>

                <div class="item spacer invisible">
                </div>

                <a class="item button button-full" href="#/sign-up">
                    Create an account instead
                </a>
            </form>
        </ion-content>
    </div>
</script>

<script src="cordova.js"></script>
</body>
</html>
